.red_heart{
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-image: url(../assets/red_heart.png);
    margin-right: 100px;
    margin-top: 10px;
}

.gray_heart{
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-image: url(../assets/gray_heart.png);
    margin-right: 100px;
    margin-top: 10px;
}