.Game{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;

  .ScreenContent{
    //display: grid;
    //grid-template-columns: max-content auto;
    //grid-template-rows: auto max-content max-content;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    background-image: url('../assets/ice_map.png');
    background-repeat: no-repeat;
    background-size: 910px 580px;
    position: relative;
  }
}

.Bar {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15%;
    background-color: azure; 
}

.CurrentPlayer{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: auto max-content;

    .PlayerAvatar{
      grid-column: 1;
    }
  }

.OtherPlayers{
    grid-row: 1;
    grid-column: 2 / 5;
    display: flex;
    justify-content: space-around;
  }