.LobbyList{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;

  .ScreenContent{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
  }

  header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    margin: -24px;
    margin-bottom: 0;

    h2{
      font-size: 32px;
    }
  }

  .list{
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: auto;

    padding: 48px 24px;
    height: 80px;
    display: flex;
    align-items: center;
  }
}
