h1, h2, h3{
  font-weight: 400;
  font-family: 'Press Start 2P', cursive;
}

h1{
  font-size: 48px;
  margin-bottom: 48px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

p{
  max-width: 800px;
  margin: 16px 8px;
}
