@keyframes animateBackground{
  0%{background-position: 0 0, 0;}
  100%{background-position: 128px 128px, 0;}
}

.App{
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-image: url('./assets/bcg.png'), linear-gradient(0deg, rgba(137,174,225,1) 0%, rgba(124,244,211,1) 100%);
  background-size: 128px;
  animation: 30s animateBackground infinite linear;
}
