*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'VT323', monospace;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  min-height: 100vh;
  display: flex;
  & > *{
    flex-grow: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "common-styles/typography";
@import "common-styles/buttons";
@import "common-styles/inputs";
